<nav class="navbar navbar-expand-lg navbar-dark header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand pl-2" href="#">
        <img src="./assets/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <div class="nav-item-container text-lg-center">
            <i class="fas fa-home d-block nav-item-icon"></i>
            <span class="nav-item-label">HOME</span>
          </div>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="nav-item-container text-lg-center">
            <i class="fas fa-home d-block nav-item-icon"></i>
            <span class="nav-item-label">TRIAL</span>
          </div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><div class="nav-item-container text-lg-center">
            <i class="fas fa-home d-block nav-item-icon"></i>
            <span class="nav-item-label">BUY PACKS</span>
          </div></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <div class="nav-item-container text-lg-center ">
            <i class="fas fa-home d-block nav-item-icon"></i>
            <span class="nav-item-label">MARKET</span>
          </div>
        </a>
        <div class="dropdown-menu bg-root w-100" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">BUY</a>
          <a class="dropdown-item" href="#">SELL</a>
          <a class="dropdown-item" href="#">OFFERS</a>
          <a class="dropdown-item" href="#">STAR STORES</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="nav-item-container text-lg-center">
            <i class="fas fa-home d-block nav-item-icon"></i>
            <span class="nav-item-label">LEARN</span>
          </div>
        </a>
        <div class="dropdown-menu bg-root w-100" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="#">CARDS</a>
          <a class="dropdown-item" href="#">FAQ</a>
          <a class="dropdown-item" href="#">LORE</a>
          <a class="dropdown-item" href="#">BLOG</a>
          <a class="dropdown-item" href="#">GUIDE</a>
          <a class="dropdown-item" href="#">STAY PLAY</a>
          <a class="dropdown-item" href="#">REFERRALS</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><div class="nav-item-container text-lg-center">
            <i class="fas fa-home d-block nav-item-icon"></i>
            <span class="nav-item-label">COLLECTIONS</span>
          </div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><div class="nav-item-container text-lg-center">
            <i class="fas fa-home d-block nav-item-icon"></i>
            <span class="nav-item-label">OPEN PACKS</span>
          </div></a>
      </li>
    </ul>
    <div class=" my-2 my-lg-0 ">
      <div class="my-2 my-sm-0 mr-2 py-3 d-inline sign-in-container">
              <button class="btn btn-info sign-in">SIGN IN</button>
      </div>
     <div id="statement" class="d-none d-lg-block">
        PLAY NOW
      </div>
    </div>
  </div>
</nav>
